.header {
  height: 35vw; /* Yoki height: 600px; */
  margin: 30px auto;
  background: url("../assets/header_img.png") no-repeat;
  background-size: cover; /* Tasvirni blokga moslashtirish */
  position: relative;
}

.header_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  max-width: 50%; /* Kenglik chegarasi */
  top: 40%; /* Yaxshi joylashuv uchun */
  left: 6vw;
  z-index: 10;
}

@media (max-width: 1050px) {
  .header_content {
    max-width: 65%;
  }
}
@media (max-width: 770px) {
  .header_content {
    max-width: 55%;
  }
  .header_content p {
    display: none;
  }
  .header_content button {
    font-size: small;
    margin-top: 1px;
    padding: 1vw 2vw;
  }
}
@media (max-width: 1075px) {
  .header_content {
    max-width: 55%;
  }
  .header_content p {
    display: none;
  }
  .header_content button {
    font-size: small;
    margin-top: 1px;
    padding: 1vw 2vw;
  }
}
@media (max-width: 750px) {
  .header_content {
    max-width: 55%;
  }
  .header_content p {
    display: none;
  }
  .header_content button {
    padding: 2vw 4vw;
  }
}

@media (max-width: 625px) {
  .header_content {
    max-width: 55%;
  }
  .header_content p {
    display: none;
  }
  .header_content button {
    font-size: small;
    margin-top: -10px;
    padding: 1vw 2vw;
  }
}


@media (max-width: 870px) {
  .header_content {
    max-width: 55%;
  }
  .header_content p {
    display: none;
  }
  .header_content button {
    font-size: small;
    margin-top: 1px;
    padding: 1vw 2vw;
  }
}

@media (max-width: 1030px) {
  .header_content {
    max-width: 55%;
  }
  .header_content button {
    font-size: small;
    margin-top: 1px;
    padding: 1vw 2vw;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .header_content {
    max-width: 75%;
  }

  .header_content button {
    font-size: small;
    margin-top: 1px;
    padding: 1vw 2vw;
  }
}

@media (max-width: 300px) {
  .header_content {
    max-width: 55%;
  }
  .header_content p {
    display: none;
  }
  .header_content button {
    font-size: small;
    margin-top: -15px;
    padding: 1vw 2vw;
  }
}